body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.slider-container {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.slider {
    display: flex;
    overflow: hidden;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* Навигационные точки */

.slider-dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
